.banner {
  width: 100%;
  height: 50vh;
  min-height: 200px;
  max-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media screen and (max-width: 767.98px) {
    height: 35vh;
    min-height: 160px;
  }
}
.banner1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/src/assets/images/banner1.jpeg);
}
.banner2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(/src/assets/images/banner2.jpeg);
}
.banner-title {
  top: 50%;
}
