.pay-header.active {
  color: #14213d !important;
  font-size: 24px;
}

.check-btn {
  &:active {
    color: white !important;
  }
}
.normal-input {
  &.error {
    input {
      border: 1px solid $danger;
    }

    .error-text {
      opacity: 1;
      margin-top: 0;
      font-size: 0.875em;
    }
  }
}
